@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after, .header__h-profil:after, .p-photo:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before, .header__h-profil:before, .p-photo:before {
  content: '';
  display: table;
}

/*блоки*/
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "OpenSansRegular", sans-serif;
  overflow-x: hidden;
  background-color: #fafafa;
}

.header {
  background-color: #fafafa;
}

.header-border {
  border: 1px solid #bfbfbf;
}

.header__h-logo {
  padding-top: 15px;
  padding-left: 15px;
}

.header__h-nav {
  padding-bottom: 3px;
  padding-top: 19px;
}

.header__h-search {
  clear: both;
}

.page__section-baner {
  position: relative;
}

.page__section-photo {
  padding-bottom: 50px;
  padding-top: 30px;
}

.page__p-left {
  margin-right: -15px;
}

.page__p-right {
  margin-left: -15px;
}

.page__p-path {
  padding-top: 30px;
  padding-bottom: 25px;
}

.page__p-documentation {
  padding-left: 50px;
  padding-top: 70px;
  padding-bottom: 60px;
}

.page__p-navigation {
  text-align: center;
}

.page__p-articles {
  padding-top: 30px;
  padding-bottom: 60px;
}

.page__p-article {
  background-color: #fff;
  padding-top: 30px;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
}

.page__p-autor {
  padding-top: 50px;
  padding-bottom: 50px;
}

.page__p-autor::after {
  clear: both;
  content: "";
  display: table;
}

.page__p-theme {
  padding-top: 30px;
}

.footer {
  padding-top: 48px;
  padding-bottom: 42px;
}

.footer__f-rights {
  text-align: left;
}

.footer__f-map {
  text-align: right;
}

/*компоненты*/
.btn {
  height: 40px;
  display: block;
  background-color: #698a39;
  border: 1px solid #698a39;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  width: 100%;
}

/*шапка - навигация*/
.h-nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-left: -14px;
  margin-right: -14px;
  width: auto;
}

.h-nav__item {
  display: block;
  position: relative;
  padding: 16px 14px;
}

.h-nav__item-active {
  background: -moz-linear-gradient(270deg, #6b8d3a 0%, #6a8b39 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b8d3a), color-stop(100%, #6a8b39));
  background: -webkit-linear-gradient(270deg, #6b8d3a 0%, #6a8b39 100%);
  background: -o-linear-gradient(270deg, #6b8d3a 0%, #6a8b39 100%);
  background: -ms-linear-gradient(270deg, #6b8d3a 0%, #6a8b39 100%);
  background: linear-gradient(180deg, #6b8d3a 0%, #6a8b39 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b8d3a', endColorstr='#6a8b39',GradientType=0 );
}

.h-nav__item-active .h-nav__link {
  color: #fff;
  text-decoration: none;
}

.h-nav__item-active .h-nav__link:hover, .h-nav__item-active .h-nav__link:focus, .h-nav__item-active .h-nav__link:active {
  text-decoration: none;
  color: #fff;
}

.h-nav__item-active .h-nav__link::after {
  background-image: url(../img/icons/green-arrow-bootom-active.png);
}

.h-nav__item-no .h-nav__link {
  padding-right: 0;
}

.h-nav__item-no .h-nav__link::after {
  display: none;
}

.h-nav__link {
  display: block;
  text-transform: uppercase;
  color: #010101;
  font-family: "OpenSansBold", sans-serif;
  padding-right: 18px;
  position: relative;
  text-decoration: underline;
  font-size: 0.8125em;
}

.h-nav__link::after {
  content: '';
  width: 8px;
  height: 5px;
  display: block;
  background-image: url(../img/icons/green-arrow-bootom.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -2.5px;
}

/*шапка - поиск*/
.h-search {
  position: relative;
}

.h-search::after {
  content: '';
  width: 56px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-image: url(../img/icons/loop.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.h-search__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #5f7e33;
  background-color: #fff;
  color: #010101;
  font-size: 0.8125em;
  padding-left: 20px;
  padding-right: 56px;
}

.h-search__input::-webkit-input-placeholder {
  color: #808080;
  opacity: 1;
}

.h-search__input::-moz-placeholder {
  color: #808080;
  opacity: 1;
}

.h-search__input:-moz-placeholder {
  color: #808080;
  opacity: 1;
}

.h-search__input:-ms-input-placeholder {
  color: #808080;
  opacity: 1;
}

.h-subnav {
  width: 220px;
  position: absolute;
  top: 100%;
  left: 0;
  background: -moz-linear-gradient(270deg, #6a8b39 0%, #5f7e33 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6a8b39), color-stop(100%, #5f7e33));
  background: -webkit-linear-gradient(270deg, #6a8b39 0%, #5f7e33 100%);
  background: -o-linear-gradient(270deg, #6a8b39 0%, #5f7e33 100%);
  background: -ms-linear-gradient(270deg, #6a8b39 0%, #5f7e33 100%);
  background: linear-gradient(180deg, #6a8b39 0%, #5f7e33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a8b39', endColorstr='#5f7e33',GradientType=0 );
  padding: 10px 14px;
  z-index: 10;
  display: none;
}

.h-subnav__item {
  display: block;
  text-align: left;
  padding: 4px 0;
}

.h-subnav__link {
  font-size: 13px;
  text-transform: none;
  color: #ffffff;
  text-decoration: none;
  font-family: "OpenSansSemibold", sans-serif;
}

.h-subnav__link:hover, .h-subnav__link:focus, .h-subnav__link:active {
  text-decoration: underline;
  color: #fff;
}

.h-profil {
  width: 135px;
  display: block;
  height: 134px;
  background-color: #eee;
  position: relative;
}

.h-profil__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.h-profil__icon {
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/profil.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  margin: 0 auto;
}

.h-profil__text {
  display: block;
  text-align: center;
  color: #010101;
  text-transform: uppercase;
  font-family: "OpenSansBold", sans-serif;
  font-size: 0.8125em;
  padding-top: 10px;
}

.p-baner__img {
  display: block;
  width: 100%;
}

.p-baner__abs {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0;
  right: 0;
}

.p-baner__title {
  font-size: 2.375em;
  color: #000;
  font-family: "GeorgiaRegular", sans-serif;
  display: block;
}

.p-baner__description {
  color: #000;
  line-height: 30px;
}

.articlesList__item {
  position: relative;
  background-color: #fff;
  height: 280px;
}

.articlesList__item:last-child .articlesList__right {
  border-color: transparent;
}

.articlesList__left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 280px;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
}

.articlesList__img {
  display: block;
  height: 100%;
  width: auto;
}

.articlesList__right {
  position: absolute;
  left: 280px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  right: 0;
  top: 0;
  bottom: 0;
  border-bottom: 1px solid #bfbfbf;
  overflow: hidden;
}

.articlesList__data {
  display: block;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #6f6f6f;
  line-height: 25px;
  padding-bottom: 10px;
}

.articlesList__title {
  display: inline-block;
  font-size: 1.375em;
  line-height: 30px;
  color: #000;
  font-family: "GeorgiaRegular", sans-serif;
}

.articlesList__title:hover, .articlesList__title:focus, .articlesList__title:active {
  color: #000;
  text-decoration: underline;
}

.articlesList__description {
  display: block;
  color: #6f6f6f;
  font-size: 0.9375em;
  line-height: 25px;
  padding-top: 10px;
}

.p-navbar__item {
  background: -moz-linear-gradient(90deg, #5f7e33 0%, #6b8d3a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b8d3a), color-stop(100%, #5f7e33));
  background: -webkit-linear-gradient(90deg, #5f7e33 0%, #6b8d3a 100%);
  background: -o-linear-gradient(90deg, #5f7e33 0%, #6b8d3a 100%);
  background: -ms-linear-gradient(90deg, #5f7e33 0%, #6b8d3a 100%);
  background: linear-gradient(0deg, #5f7e33 0%, #6b8d3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b8d3a', endColorstr='#5f7e33',GradientType=0 );
  border-bottom: 1px solid #759548;
  padding-bottom: 1px;
  padding: 30px 40px;
  box-sizing: border-box;
}

.p-navbar__item-small {
  height: 140px;
  position: relative;
}

.p-navbar__item-small .p-navbar__title {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.p-navbar__item-normal {
  height: 280px;
}

.p-navbar__title {
  font-size: 22px;
  line-height: 30px;
  padding-left: 30px;
  background-image: url(../img/icons/star.png);
  background-repeat: no-repeat;
  background-position: left center;
  color: #fff;
  display: inline-block;
  font-family: "GeorgiaRegular", sans-serif;
  z-index: 1;
  cursor: pointer;
}

.p-navbar__title:hover, .p-navbar__title:focus, .p-navbar__title:active {
  color: #fff;
  text-decoration: underline;
}

.p-navbar__subnav {
  padding-top: 14px;
}

.p-navbar__subitem {
  display: block;
}

.p-navbar__sublink {
  display: inline-block;
  font-size: 0.8125em;
  padding: 6px 0;
  color: #fff;
  font-family: "OpenSansSemibold", sans-serif;
}

.p-navbar__sublink:hover, .p-navbar__sublink:focus, .p-navbar__sublink:active {
  color: #fff;
  text-decoration: underline;
}

.p-opros {
  padding: 30px 40px;
  background-color: #eee;
  height: 420px;
}

.p-opros__title {
  font-size: 22px;
  line-height: 30px;
  color: #000;
  display: inline-block;
  font-family: "GeorgiaRegular", sans-serif;
}

.p-opros__list {
  padding: 15px 0;
}

.p-opros__item {
  display: block;
  padding: 10px 0;
}

.p-opros__input {
  display: none;
}

.p-opros__input:checked + label:after {
  content: '';
  display: block !important;
}

.p-opros__label {
  padding-left: 32px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
}

.p-opros__label::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #66833c;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}

.p-opros__label::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #66833c;
  display: block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -5px;
  display: none;
}

.f-rights, .f-map {
  display: inline-block;
  color: #6f6f6f;
  font-size: 13px;
  line-height: 25px;
}

.f-map:hover, .f-map:focus, .f-map:active {
  color: #6f6f6f;
  text-decoration: underline;
}

.p-path {
  font-size: 0;
}

.p-path__item {
  display: inline-block;
  padding-right: 12px;
  position: relative;
  line-height: 24px;
}

.p-path__item:last-child::after {
  display: none;
}

.p-path__item::after {
  content: '-';
  display: block;
  position: absolute;
  font-size: 13px;
  color: #6f6f6f;
  position: absolute;
  width: 12px;
  right: 0;
  text-align: center;
  line-height: 24px;
  top: 0;
}

.p-path__link {
  font-size: 13px;
  color: #6f6f6f;
}

.p-title {
  color: #000;
  font-family: "GeorgiaRegular", sans-serif;
  font-size: 38px;
  display: block;
}

.p-documentation__item {
  display: block;
  padding-bottom: 30px;
}

.p-documentation__link {
  line-height: 30px;
  color: #5f7e33;
  text-decoration: underline;
  display: inline-block;
  font-size: 22px;
  font-family: "GeorgiaRegular", sans-serif;
  margin-right: 12px;
}

.p-documentation__link:hover, .p-documentation__link:focus, .p-documentation__link:active {
  text-decoration: none;
  color: #5f7e33;
}

.p-documentation__file {
  line-height: 30px;
  font-size: 12px;
  color: #6f6f6f;
  display: inline-block;
}

.p-navigation {
  font-size: 0;
}

.p-navigation__item {
  display: inline-block;
  padding: 0 5px;
}

.p-navigation__item-active .p-navigation__link {
  background-color: #bfbfbf;
  color: #fff;
}

.p-navigation__link {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #bfbfbf;
  background-color: transparent;
  text-align: center;
  line-height: 48px;
  color: #000;
  font-size: 15px;
}

.p-navigation__link:hover {
  background-color: #bfbfbf;
  color: #fff;
}

.p-article__data {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #6f6f6f;
  line-height: 30px;
  display: block;
  padding-bottom: 25px;
}

.p-article p {
  color: #6f6f6f;
  font-size: 0.9375em;
  line-height: 25px;
  display: block;
}

.p-article__wp {
  margin-left: -50px;
  margin-right: -50px;
  width: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.p-article__img {
  display: block;
  width: 100%;
  height: auto;
}

.p-article h2, .p-article h3, .p-article h4 {
  display: block;
  color: #000;
  font-size: 22px;
  line-height: 30px;
  font-family: "GeorgiaRegular", sans-serif;
  font-weight: normal;
  padding-top: 35px;
}

.p-article ul {
  padding: 17px 0;
}

.p-article ul li {
  display: block;
  position: relative;
  padding: 8px 0 8px 20px;
  color: #6f6f6f;
  font-size: 0.9375em;
}

.p-article ul li::before {
  content: '';
  width: 3px;
  height: 3px;
  background-color: #5f7e33;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1.5px;
}

.p-article ol {
  list-style: decimal;
  padding: 17px 0;
}

.p-article ol li {
  margin-left: 20px;
  padding: 8px 0 8px 20px;
  color: #6f6f6f;
  font-size: 0.9375em;
}

.p-autor {
  color: #c9c9c9;
  font-size: 0.9375em;
  line-height: 50px;
}

.p-autor a {
  color: #5f7e33;
  text-decoration: underline;
  display: inline-block;
}

.p-autor a:hover, .p-autor a:focus, .p-autor a:active {
  text-decoration: none;
  color: #5f7e33;
}

.p-soc {
  font-size: 0;
  float: right;
  margin-left: 30px;
}

.p-soc__text {
  color: #c9c9c9;
  font-size: 0.9375em;
  line-height: 50px;
  display: inline-block;
  float: right;
}

.p-soc__item {
  font-size: 0;
  display: inline-block;
}

.p-soc__item:last-child .p-soc__link {
  border-right: 1px solid #bfbfbf;
}

.p-soc__link {
  width: 50px;
  height: 50px;
  display: block;
  border-left: 1px solid #bfbfbf;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  background-repeat: no-repeat;
  background-position: center center;
}

.p-photo {
  margin-left: -1px;
  margin-right: -1px;
}

.p-photo__item {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  width: 25%;
  height: 285px;
  float: left;
}

.p-photo__link {
  display: block;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.p-photo__patern {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(225, 225, 225, 0.9);
  z-index: 1;
}

.p-photo__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 15px;
  right: 15px;
  width: auto;
  display: block;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  color: #000;
  font-family: "GeorgiaRegular", sans-serif;
}

.p-photo__img {
  display: block;
  height: 100%;
  width: auto;
  min-width: 100%;
}
